<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :student_name %>

    <%= form.label :sex %>
    <%= form.select :sex, Student.all.collect { |s| [ s.sex ] }, :options_for_select => (['Vocal', 'Guitar', 'Bass', 'Drums', 'Keybord', 'その他']) %>

    <%= form.label :college %>
    <%= form.select :college, [["東京大学", "東京大学"], ["早稲田大学", "早稲田大学"], ["その他", "その他"]] %>

    <%= form.label :birth %>
    <%= form.date_select :birth, {:start_year => 1990, :end_year => 2000, :default => Date.new(1998, 1, 1), :use_month_numbers => true} %>

    <%= form.label :graduate %>
    <%= form.select :college, [["2019年度(2018年4月時点で学部4年生/修士2年生）", "2019"], ["2020年度(2018年4月時点で学部3年生/修士1年生）", "2020"], ["2021年度(2018年4月時点で学部2年生/院進予定の学部4年生）", "2021"], ["2022年度(2018年4月時点で学部1年生/院進予定の学部3年生）", "2022"]] %>

    <%= form.label :mail %>
    <%= form.text_field :mail, id: :student_mail %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
